<div class="wrapper">
  <h1>
    <span>WEATHER</span>
    REPORT
  </h1>
  <div class="container weather-search-box">
    <form #weatherForm="ngForm" action="">
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="address"
          class="form-control"
          name="address"
          required
          #address1="ngModel"
          placeholder="please enter the address"
        />
        <div
          [hidden]="address1.valid || address1.untouched"
          class="alert alert-danger"
        >
          address is required
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!weatherForm.valid"
          (click)="showCoordinates()"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
