.wrapper {
  width: 50%;
  margin: 60px auto;
  border: solid black 1px;
  box-shadow: 5px 5px 20px black;
}

.wrapper h1 {
  text-align: center;
}

.wrapper span {
  font-size: 70px;
  color: brown;
}

.weather-search-box {
  width: 70%;
  margin: 40px auto;
}
